body {
  background-color: cornsilk;
  min-height: 100vh;;
}

* {
  padding: 0;
  margin: 0;
}

@mixin flexCentered() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCentered {
  @include flexCentered;
}

.tic-tac-toe, #app {
  display: inline-flex;
}

.disabled {
  pointer-events: none;
  opacity: .7;
}



